
  <div infinite-scroll *ngFor="let flat of flats.content ">
    <mat-card class="home-card mat-elevation-z5">
      <mat-card-content class="home-card-content" fxLayout="row">

        <div class="image-container">
          <img alt="Johny"
               src="{{flat.photoUrl}}"
               class="project-image"/>
        </div>

        <div class="main-container" fxLayout="column">
          <div class="content-container" fxLayout="row" fxFlex="100">
            <div style="margin:0" class="text-conteiner" fxLayout="column" fxFlex="100">
              <div>

                <mat-card-header class="flat-header" fxFlex="95">
                  <div mat-card-avatar class="flat-header-image"></div>
                  <mat-card-title style="margin-bottom: 4px"> {{flat.title}}</mat-card-title>
                  <mat-card-subtitle style="margin:0">  {{flat.address.street}} {{flat.address.flatNumber}} {{flat.address.houseNumber}}</mat-card-subtitle>
                </mat-card-header>

                <div class="buttons-container" fxLayout="row" fxFlex>
                  <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button style="margin-bottom: -5px" mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                  </button>
                </div>

              </div>
              <div class="project-description" fxFlex="100">
                <p>{{flat.description}}</p>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip selected color="primary">{{flat.tags[0]}}</mat-chip>
                  <mat-chip selected color="primary">{{flat.tags[1]}}</mat-chip>
                  <mat-chip selected color="primary">{{flat.tags[2]}}</mat-chip>
                  <mat-chip>інші</mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>

          <div  fxFlex class="actions-container" fxLayout="row">
            <div fxFlex="60">
              <p class="date">{{flat.creationDate}}</p>
            </div>
            <div fxFlex><p class="price">{{flat.monthPrice}} грн</p></div>
            <div class="donate-button" fxFlexAlign="end end" fxFlex="25">
              <button fxFlexAlign="end end" class="donate" mat-raised-button color="accent">
                Детально
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">
</div>

